.section {
  &--invisible {
    opacity: 0;
    transform: translateY(4rem);

    .section__subject {
      border: 2px solid yellowgreen;

      &::before {
        transform: translate(-20%, -45%);
        opacity: 0;
      }
    }
  }

  &--visible {
    transition: opacity 1s, transform 0.85s;
    opacity: 1;
    transform: translateY(0rem);

    .section__subject {
      &::before {
        transition: transform 1.5s, opacity 1.5s;
        transform: translate(0%, -45%);
        opacity: 1;
      }
    }
  }
}
