@use 'variables';

.header {
  &--invisible {
    transition: all 1s;
    opacity: 0;

    .header__image-container {
      &:before {
        width: 90% !important;
        height: 90% !important;
        border-radius: 10% !important;
      }
    }

    .heading-primary {
      opacity: 0 !important;
      transform: translateY(20%) !important;
    }

    .heading-subtitle {
      opacity: 0 !important;
      transform: translateY(-40%) !important;
    }

    .divider {
      width: 0 !important;
    }
  }

  &--visible {
    transition: all 1s;
    .header__image-container {
      &:before {
        transition: width 1s cubic-bezier(0.06, 0.81, 0.64, 1.23),
          height 1s cubic-bezier(0.06, 0.81, 0.64, 1.23);
        width: 125%;
        height: 125%;
        border-radius: 50%;
      }
    }
  }
}

.section {
  &--invisible {
    transition: all 1s;
    opacity: 0;
    transform: translateY(4rem);

    .section__subject {
      &::before {
        transition: transform 1s, opacity 0.75s;
        transform: translate(-20%, -45%);
        opacity: 0;
      }
    }
  }

  &--visible {
    transition: opacity 1s, transform 0.85s;
    opacity: 1;
    transform: translateY(0rem);

    .section__subject {
      &::before {
        transition: transform 1.5s, opacity 1.5s;
        transform: translate(0%, -45%);
        opacity: 1;
      }
    }
  }
}
