html {
  box-sizing: border-box; // Border-box is always good
  font-size: 62.5%; // 1rem = 10px, 10px / 16px = 62.5%
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; // Now everything will inherit border-box from html above
}

body {
  // Set the default font styles, colors, etc.
  background-image: url('../images/curcuit-board.svg'),
    linear-gradient(
      45deg,
      #141a2f,
      #151b31,
      #151c32,
      #161d34,
      #171d36,
      #181e38,
      #181f39,
      #19203b
    );
  background-size: 100vw;
  color: var(--color-font);
  font-size: 2.4rem;
}

#New_Pattern {
  fill: #04060a;
}
