@use 'variables';
@use 'breakpoints';

html {
  box-sizing: border-box; // Border-box is always good
  font-size: 62.5%; // 1rem = 10px, 10px / 16px = 62.5%
  scroll-behavior: smooth;

  @media only screen and (max-width: breakpoints.$bp-larger) {
    font-size: 56.5%;
  }
  @media only screen and (max-width: breakpoints.$bp-large) {
    font-size: 50%;
  }
  @media only screen and (max-width: breakpoints.$bp-small) {
    font-size: 49.5%;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; // Now everything will inherit border-box from html above
}

body {
  // Set the default font styles, colors, etc.

  font-family: variables.$font-default;
  color: var(--color-font);
  font-size: 2.4rem;

  // overflow-y: hidden;
  /*   &::-webkit-scrollbar {
    display: none;
  } */

  ::selection {
    background-color: rgba($color: variables.$color-secondary, $alpha: 0.9);
    color: variables.$color-primary;
  }

  overflow-y: scroll;
  // If browser supports scrollbar styling
  @supports selector(div::-webkit-scrollbar) {
    // Change the scrollbar
    @include variables.scrollbar(
      7.5px,
      variables.$color-secondary,
      variables.$color-primary
    );
    // Remove the right border because the scrollbar will have borders
    border-right: none;
  }
}
