@use 'variables';

// Header
.header {
  &__image-container {
    align-self: center;
    grid-row: 1 / -1;

    display: flex;
    align-items: center;

    position: relative;
  }
  &__image {
    border: 2px solid variables.$color-secondary;
    border-radius: 50%;

    height: 25rem;
    width: 25rem;
  }

  .heading-primary {
    align-self: end;
    margin-bottom: 0.25rem;
    &--init {
      opacity: 0 !important;
      transform: translateY(20%) !important;
    }
  }
  .heading-subtitle {
    align-self: start;
    &--init {
      opacity: 0 !important;
      transform: translateY(-40%) !important;
    }
  }

  .heading-primary,
  .heading-subtitle {
    text-align: center;

    // TRANSITIONING PROPERTIES
    transition: opacity 0.5s 0.75s,
      transform 0.7s cubic-bezier(0, 1.95, 0.57, 1.61) 0.7s;
    opacity: 1;
    transform: translateY(0);
  }

  .divider {
    height: 2px;
    background-color: variables.$color-secondary;
    position: relative;

    // TRANSITIONING PROPERTIES
    transition: width 1s /* cubic-bezier(0.76, 0.22, 0.46, 1.16) */;
    width: 100%;

    &--init {
      width: 0;
    }

    &:after {
      content: '';
      height: 12px;
      width: 12px;
      border-radius: 50%;
      background-color: variables.$color-primary;
      border: 2px solid variables.$color-secondary;

      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(50%, -50%);
    }
  }
}

.section {
  position: relative;

  &--link {
    color: variables.$color-white;
    font-weight: 600;
  }
  &__subject {
    color: variables.$color-white;

    &:before {
      content: attr(data-subject);

      color: rgba($color: variables.$color-secondary, $alpha: 0.05);
      font-size: 3.4em;
      z-index: -1;

      position: absolute;
      top: 0;
      left: 0;
      transform: translate(0%, -45%);
    }

    &:after {
      content: '';
      height: 12px;
      width: 12px;
      border-radius: 50%;
      background-color: transparent;
      border: 2px solid variables.$color-secondary;

      position: absolute;
      left: 0;
      top: 0;
      transform: translate(-100%, -100%);
    }
  }

  &__description {
  }

  &__skills {
    display: flex;
    flex-wrap: wrap;
  }
  &__skill {
    background-color: variables.$color-secondary;

    color: variables.$color-primary;
    font-family: variables.$font-navigation;
    font-size: 2rem;

    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }
}
