@use 'variables';
@use 'breakpoints';

// Header
.header {
  scroll-margin: 9rem;

  &__image-container {
    align-self: center;
    grid-row: 1 / -1;

    display: flex;
    align-items: center;

    position: relative;

    // Background circle behind image
    &:before {
      content: '';
      width: 125%;
      height: 125%;
      background-color: rgba($color: variables.$color-secondary, $alpha: 0.05);

      border: 2px dotted rgba($color: variables.$color-secondary, $alpha: 0.05);

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
    }
  }

  &__image {
    border: 2px solid variables.$color-secondary;
    border-radius: 50%;

    height: 25rem;
    width: 25rem;

    z-index: 1; // So it is above the dot

    @media only screen and (max-width: breakpoints.$bp-largest) {
      height: 22.5rem;
      width: 22.5rem;
    }
    @media only screen and (max-width: breakpoints.$bp-larger) {
      height: 20rem;
      width: 20rem;
    }
  }

  .heading-primary {
    align-self: end;
    margin-bottom: 0.25rem;

    @supports (-webkit-text-stroke: 2px black) {
      -webkit-text-stroke: 2px variables.$color-primary; // width | color
    }
  }
  .heading-subtitle {
    align-self: start;
  }

  .heading-primary,
  .heading-subtitle {
    text-align: center;

    // TRANSITIONING PROPERTIES
    transition: opacity 0.5s 0.75s,
      transform 0.7s cubic-bezier(0, 1.95, 0.57, 1.61) 0.7s;
    opacity: 1;
    transform: translateY(0);
  }

  .divider {
    height: 2px;
    background-color: variables.$color-secondary;
    position: relative;

    z-index: 0;

    // TRANSITIONING PROPERTIES
    transition: width 1s /* cubic-bezier(0.76, 0.22, 0.46, 1.16) */;
    width: 100%;

    &:after {
      content: '';
      height: 12px;
      width: 12px;
      border-radius: 50%;
      background-color: variables.$color-primary;
      border: 2px solid variables.$color-secondary;

      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(50%, -50%);
    }
  }
}

.section {
  position: relative;

  &--link {
    color: variables.$color-white;
    font-weight: 600;
    cursor: pointer;
  }
  &--emphasis {
    color: variables.$color-secondary;
    font-weight: 600;
  }

  &__subject {
    color: variables.$color-white;
    font-size: 1.45em;

    &:before {
      content: attr(data-subject);

      color: rgba($color: variables.$color-secondary, $alpha: 0.05);
      z-index: -1;

      position: absolute;
      top: 0;
      left: 0;
      transform: translate(0%, -45%);
    }

    &:after {
      content: '';
      height: 18px;
      width: 18px;
      border-radius: 50%;
      background-color: transparent;
      border: 2px solid variables.$color-secondary;

      position: absolute;
      left: 0;
      top: 0;
      transform: translate(-100%, -0%);
    }
  }

  &__description {
  }

  // SKILLS
  &__skills {
    display: flex;
    flex-wrap: wrap;

    margin: -0.5rem 0 -1rem 0;

    ::selection {
      background-color: rgba($color: variables.$color-primary, $alpha: 0.9);
      color: variables.$color-font;
    }
  }
  &__skill {
    display: grid;
    grid-template-columns: min-content max-content;
    align-items: center;
    column-gap: 0.8rem;

    background-color: variables.$color-secondary;
    background: variables.$background-skill;
    background-size: 550px;

    padding: 0.5rem 1rem;
    margin: 0.5rem;

    border: 2px dotted rgba($color: variables.$color-primary, $alpha: 0.75);
    border-top-right-radius: 6px;
    border-bottom-left-radius: 14px;
    border-top-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  //PORTFOLIO
  &__portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(35.5rem, 1fr));
    gap: 4rem;

    // Testing
    border-radius: 10px;
    margin-top: 2rem;
  }
}

.project {
  // Testing
  color: darken(variables.$color-primary, 10);

  background-color: variables.$color-font; // Fallback for circuit board pattern failure
  background: variables.$background-project;
  background-size: 800px;

  padding: 0.4rem;
  // overflow: hidden;

  border-top-right-radius: 8px; // 16px
  border-bottom-left-radius: 32px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;

  // border: 6px solid variables.$color-font;

  transition: border 0.3s, box-shadow 0.4s;
  border: 2px dotted
    darken(rgba($color: variables.$color-primary, $alpha: 0.3), 10);
  box-shadow: rgba(variables.$color-secondary, 0.99) 0px 0px 1px;

  display: grid;
  gap: 1rem;

  grid-auto-rows: min-content;
  grid-auto-rows: min-content min-content min-content min-content 1fr;

  &:hover {
    border: 2px dotted
      darken(rgba($color: variables.$color-secondary, $alpha: 0.75), 10);
    box-shadow: rgba(variables.$color-secondary, 1) 0px 0px 16px;

    .project__heading:before,
    .project__heading:after {
      @supports (filter: grayscale(0)) {
        filter: grayscale(0);
      }
    }

    .project__heading:after {
      opacity: 0.9;
    }
    .project__heading:before {
      opacity: 0.8;
    }
  }

  &__heading {
    background-color: rgba($color: variables.$color-font, $alpha: 0.2);
    padding: 0.5rem 2rem 0rem;

    position: relative;

    &:before,
    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      height: 14px;
      width: 14px;
      border: 1px solid darken(variables.$color-font, 5);
      border-radius: 50%;

      transition: opacity 0.5s, filter 0.5s;
      @supports (filter: grayscale(0)) {
        filter: grayscale(1);
      }
    }

    &:after {
      background-color: desaturate(variables.$color-green, 30);
      transform: translate(-315%, 90%);
    }
    &:before {
      background-color: desaturate(variables.$color-red, 30);
      transform: translate(-150%, 90%);
    }
  }

  &__img-link {
    // Make image a little smaller than the container and center it
    width: 96%;
    margin: 0 auto;
  }

  &__img {
    width: 100%;
    border-radius: 10px;
    border: 2px solid darken(variables.$color-font, 5);
    vertical-align: top;
  }

  /*   &__link {
    position: relative;
  } */

  &__skills {
    padding: 0rem 0rem;
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
  }

  &__skill {
    background-color: variables.$color-primary;
    color: lighten(variables.$color-font, 15);

    padding: 0.8rem 1rem 0.7rem;
    margin: 0.15rem;

    border: 2px dotted rgba($color: variables.$color-font, $alpha: 0.75);
    border-top-right-radius: 6px;
    border-bottom-left-radius: 14px;
    border-top-left-radius: 2px;
    border-bottom-right-radius: 2px;

    &:last-child {
      border-bottom-right-radius: 14px;
      border-bottom-left-radius: 2px;
    }
  }

  &__descriptions {
    margin: 0 0.75rem;
    display: grid;
    grid-template-rows: min-content;
    gap: 0.8rem;

    background: variables.$background-description;
    background-size: 50rem;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    color: lighten(variables.$color-font, 15);
    font-weight: 300;

    border: 3px solid darken(variables.$color-font, 5);
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(variables.$color-secondary, 0.99);
  }

  /*   &__links {
    display: flex;
    align-items: center;
    background-color: orangered;
    color: variables.$color-primary;
  }

  &__link {
    display: inline-block;
  } */

  &__links {
    padding: 0rem 1.1rem 1rem 0rem;
    display: flex;
    flex-wrap: wrap;

    margin-top: auto;

    justify-content: flex-end;
  }

  &__link {
    padding: 0.9rem 1.2rem 0.9rem 1.2rem;
    line-height: 1;
    // font-weight: 600;

    text-decoration: none;

    span {
      display: inline-block;
      font-weight: 900;
      transition: transform 0.4s;
      transform: translateX(-1px);
    }

    &:hover span {
      transition: transform 0.4s;
      transform: translateX(4px);
    }

    transition: all 0.25s;
    opacity: 0.9;

    color: variables.$color-bg;
    margin-right: 1rem;

    border: 2px dotted variables.$color-font;

    box-shadow: inset 0 0 5px darken(variables.$color-font, 25);

    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;

    &:last-child {
      background-color: darken(
        rgba($color: variables.$color-secondary, $alpha: 0.2),
        15
      );

      border-bottom-right-radius: 10px;
      border-top-left-radius: 5px;

      &:hover {
        background-color: darken(
          rgba($color: variables.$color-secondary, $alpha: 0.4),
          15
        );
      }
    }

    &:first-child {
      background-color: darken(
        rgba($color: variables.$color-font, $alpha: 0.3),
        15
      );

      &:hover {
        background-color: darken(
          rgba($color: variables.$color-font, $alpha: 0.6),
          15
        );
      }

      border-bottom-right-radius: 5px;
      border-top-left-radius: 10px;
    }
  }
}

.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 2rem;
  transition: all 0.3s;

  & > * {
    outline: none;
  }

  & > *:not(.contact__submit) {
    font-size: 2rem;
    font-family: variables.$font-secondary;
    color: variables.$color-white;
    font-weight: 500;

    transition: all 0.3s;

    padding: 1rem 1rem;
    background-color: transparent;
    border: 2px solid variables.$color-primary;
    border-radius: 10px;
    background-color: rgba($color: variables.$color-bg, $alpha: 0.35);

    &::placeholder {
      color: darken(desaturate(variables.$color-secondary, 40), 24);
    }

    &:hover {
      border: 2px solid darken(variables.$color-primary, 10);
      border-color: darken(desaturate(variables.$color-white, 20), 20);
      background-color: lighten(
        rgba($color: variables.$color-primary, $alpha: 0.15),
        10
      );
    }

    &:focus {
      transition: border-color 0.3s, box-shadow 0.4s background-color 0.3s;
      background-color: rgba($color: variables.$color-bg, $alpha: 0.5);
      border-color: darken(desaturate(variables.$color-secondary, 15), 5);
    }
  }

  &__name {
  }

  &__email {
  }

  &__message {
    grid-column: 1 / -1;
    resize: none;
  }

  &__submit {
    outline: none;
    border: 2px solid currentColor;

    grid-column: 1 / -1;
    justify-self: center;

    max-width: 100%;

    padding: 1.5rem 2.5rem;
    line-height: 1;

    border-radius: 5px;

    transition: color 0.15s, background-color 0.25s, border-color 0.25s;

    &:hover {
      color: variables.$color-white;
      background-color: transparent;
      border-color: variables.$color-white;
    }

    &:active {
      background-color: rgba($color: variables.$color-secondary, $alpha: 0.5);
    }
  }
}

/*
& > * {
  padding-left: 2rem;
  padding-right: 2rem;
}
& > *:first-child {
  padding-top: 0.5rem;
}
& > *:last-child {
  padding-bottom: 0.5rem;
}
*/
