@use 'variables';

.App {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  height: 100vh;

  border-left: 1px solid var(--color-secondary);
  border-right: 1px solid var(--color-secondary);
}

.content {
  background-color: rgba(variables.$color-primary, 0.97);
  padding: 6rem 10rem;

  border-left: 1px solid var(--color-secondary);
  border-right: 1px solid var(--color-secondary);

  @supports (backdrop-filter: blur(2px)) {
    background-color: rgba(variables.$color-primary, 0.9);
    backdrop-filter: blur(3px);
  }
}

.header {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 1fr min-content 1fr;
  row-gap: 2rem;
}
