@use 'variables';

.App {
  display: grid;
  grid-template-columns: 0.4fr 2fr 0.4fr; // Nav | Content | ...

  // border-left: variables.$content-border;
  // border-right: variables.$content-border;

  // Testing
  // height: 100vh;
  // background-image: var(--background);
  // background-size: 100vw;
  background-image: var(--background);
  overflow: hidden;
  height: 100vh;
}

/* .background {
  position: absolute;
  background-image: var(--background);
  background-size: 100vw;
  background-repeat: repeat;
  width: 100vw;
  height: 500vh;

  z-index: 0;
} */

.content {
  overflow-y: scroll;
  overflow-x: hidden;

  /*   &::-webkit-scrollbar {
    display: none;
  } */

  // background-color: rgba(variables.$color-primary, 0.1);
  background-color: rgba(variables.$color-primary, 0.95);
  padding: 9rem 11.5rem 9rem 11rem; // Spacing around content

  border-left: variables.$content-border;
  border-right: variables.$content-border; // Only here if no support for

  // If browser supports scrollbar styling
  @supports selector(div::-webkit-scrollbar) {
    // Change the scrollbar
    @include variables.scrollbar(
      7.5px,
      variables.$color-secondary,
      variables.$color-primary
    );
    // Remove the right border because the scrollbar will have borders
    border-right: none;
  }

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  grid-auto-rows: min-content;
  row-gap: 13.5rem; // Space between each content section

  /*   box-shadow: rgba(variables.$background-accent, 0.4) 5px 0px,
    rgba(variables.$background-accent, 0.3) 10px 0px,
    rgba(variables.$background-accent, 0.2) 15px 0px; */

  @supports (backdrop-filter: blur(2px)) {
    background-color: rgba(variables.$color-primary, 0.75);
    backdrop-filter: blur(3px);
  }

  & > *:last-child {
    padding-bottom: 2rem;
  }
}

.header {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 1fr min-content 1fr;
  row-gap: 2rem;

  margin-bottom: 3rem;
}

.section-container {
  scroll-margin: 9rem;
}

.section {
  display: grid;
  grid-auto-rows: min-content;
  row-gap: 2rem;
}

.footer {
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  margin-top: -4rem;

  background-color: rgba(variables.$color-bg, 0.15);
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;

  & > *:not(:first-child) {
    margin-top: 0.25rem;
  }
}

.navigation {
  display: flex;
  flex-direction: column;

  margin-top: 20vh;
  margin-bottom: auto;

  &__link {
    text-decoration: none;
    color: variables.$color-bg;
    padding: 0.5rem 2rem;

    transition: background-color 0.25s;
    background-color: rgba(variables.$background-accent, 0.95);

    &:hover {
      background-color: rgba(variables.$color-secondary, 0.95);
    }

    &--true {
      background-color: variables.$color-secondary;
    }
  }

  &__socials {
    display: flex;
    justify-content: center;

    padding: 2rem 0;

    & > *:not(:last-child) {
      margin-right: 3rem;
    }
  }

  &__social-link {
    .skill__icon {
      fill: variables.$color-bg;
      padding: 0.5rem;
      border-radius: 50%;

      transition: background-color 0.25s;
      background-color: rgba(variables.$background-accent, 0.95);

      &:hover {
        background-color: rgba(variables.$color-secondary, 0.95);
      }
    }
  }
}
