// Exo ------------ 100, 200, 300, 400, 500, 600, 700, 800, 900, 100, 200, 300, 400, 500, 600, 700, 800, 900
// Exo 2 ---------- 100, 200, 300, 400, 500, 600, 700, 800, 900, 100, 200, 300, 400, 500, 600, 700, 800, 900

@use 'variables';
@use 'breakpoints';

.heading-primary {
  font-family: variables.$font-primary;
  font-size: 7.2rem;
  color: variables.$color-secondary;
  text-shadow: rgba(variables.$color-secondary, 0.99) 0px 0px 4px;

  line-height: 1;

  @media only screen and (max-width: breakpoints.$bp-largest) {
    font-size: 5.5rem;
  }
  @media only screen and (max-width: breakpoints.$bp-larger) {
    font-size: 5.2rem;
  }
  @media only screen and (max-width: breakpoints.$bp-phone-large) {
    font-size: 4.45rem;
  }
  @media only screen and (max-width: breakpoints.$bp-phone-small) {
    font-size: 4.5rem;
  }
}

.heading-subtitle {
  font-family: variables.$font-secondary;
  font-size: 3.6rem;

  line-height: 1;

  @media only screen and (max-width: breakpoints.$bp-largest) {
    font-size: 2.5rem;
  }
  @media only screen and (max-width: breakpoints.$bp-small) {
    font-size: 2.9rem;
  }
}

.heading-secondary {
  font-size: 4rem;
  font-weight: 900;
  font-family: variables.$font-secondary;

  span:before {
    font-size: 3em;
  }

  @media only screen and (max-width: breakpoints.$bp-largest) {
    font-size: 3.8rem;
    span:before {
      font-size: 2.25em;
    }
  }
  /*   @media only screen and (max-width: breakpoints.$bp-small) {
    font-size: 3.5rem;
  } */
  @media only screen and (max-width: breakpoints.$bp-phone-large) {
    font-size: 3.2rem;
    span:before {
      font-size: 2.2em;
    }
  }
  @media only screen and (max-width: breakpoints.$bp-phone-small) {
    font-size: 3.1rem;
    span:before {
      font-size: 1.9em;
    }
  }

  &--invisible {
    opacity: 0;
  }
}

.heading-navigation {
  font-family: variables.$font-navigation;

  @media only screen and (max-width: breakpoints.$bp-larger) {
    font-size: 2rem;
  }
}

// Used for skills and links to other sections
.text-emphasized {
  color: variables.$color-primary;
  font-family: variables.$font-navigation;
  font-size: 2rem;

  @media only screen and (max-width: breakpoints.$bp-phone-small) {
    font-size: 2rem;
  }

  // For links to other sections
  &--inline {
    font-family: variables.$font-primary;
    font-size: 2.6rem;
  }
}

.skill__icon {
  fill: variables.$color-primary;
  height: 4rem;
  width: 4rem;

  @media only screen and (max-width: breakpoints.$bp-phone-small) {
    height: 3.5rem;
    width: 3.5rem;
  }
  @media only screen and (max-width: breakpoints.$bp-smallest) {
    height: 2.9rem;
    width: 2.9rem;
  }
}

.project__heading {
  @media only screen and (max-width: breakpoints.$bp-small) {
    font-size: 2.75rem;
  }
}

.project__skill {
  color: variables.$color-font;
  font-family: variables.$font-navigation;

  font-size: 1.7rem;
  line-height: 1;

  @media only screen and (max-width: breakpoints.$bp-phone-small) {
    font-size: 2rem;
  }
}

.section {
  // Links to other parts on the page
  &--link,
  &--emphasis {
    font-weight: 600;
    cursor: pointer;
    transition: text-decoration-color 0.25s;
  }

  &--link {
    color: variables.$color-white;

    &:hover {
      text-decoration-color: variables.$color-secondary;
    }
  }

  // Link to email
  &--emphasis {
    color: variables.$color-secondary;

    &:hover {
      text-decoration-color: variables.$color-white;
    }
  }

  &__skill {
    @media only screen and (max-width: breakpoints.$bp-smallest) {
      font-size: 1.85rem;
    }
  }
}

.project__descriptions {
  font-family: variables.$font-secondary;
  font-size: 2.2rem;

  @media only screen and (max-width: breakpoints.$bp-large) {
    font-size: 2.1rem;
  }
  @media only screen and (max-width: breakpoints.$bp-smallest) {
    font-size: 2rem;
  }
}
