// Exo ------------ 100, 200, 300, 400, 500, 600, 700, 800, 900, 100, 200, 300, 400, 500, 600, 700, 800, 900
// Exo 2 ---------- 100, 200, 300, 400, 500, 600, 700, 800, 900, 100, 200, 300, 400, 500, 600, 700, 800, 900

@use 'variables';
@use 'breakpoints';

.heading-primary {
  font-family: variables.$font-primary;
  font-size: 7.2rem;
  color: variables.$color-secondary;
  text-shadow: rgba(variables.$color-secondary, 0.99) 0px 0px 4px;

  line-height: 1;

  @media only screen and (max-width: breakpoints.$bp-largest) {
    font-size: 5.5rem;
  }
  @media only screen and (max-width: breakpoints.$bp-larger) {
    font-size: 5.2rem;
  }
}

.heading-subtitle {
  font-family: variables.$font-secondary;
  font-size: 3.6rem;

  line-height: 1;

  @media only screen and (max-width: breakpoints.$bp-largest) {
    font-size: 2.5rem;
  }
  @media only screen and (max-width: breakpoints.$bp-small) {
    font-size: 2.9rem;
  }
}

.heading-secondary {
  font-size: 4rem;
  font-weight: 900;
  font-family: variables.$font-secondary;

  span:before {
    font-size: 3em;
  }

  @media only screen and (max-width: breakpoints.$bp-largest) {
    font-size: 3.8rem;

    span:before {
      font-size: 2.5em;
    }
  }

  @media only screen and (max-width: breakpoints.$bp-small) {
    font-size: 3.5rem;
  }

  &--invisible {
    opacity: 0;
  }
}

.heading-navigation {
  font-family: variables.$font-navigation;

  @media only screen and (max-width: breakpoints.$bp-larger) {
    font-size: 2rem;
  }
}

.text-emphasized {
  color: variables.$color-primary;
  font-family: variables.$font-navigation;
  font-size: 2rem;

  &--inline {
    font-family: variables.$font-primary;
    font-size: 2.6rem;
  }
}

.skill__icon {
  fill: variables.$color-primary;
  height: 4rem;
  width: 4rem;
}

.project__skill {
  color: variables.$color-font;
  font-family: variables.$font-navigation;

  font-size: 1.4rem;
  line-height: 1;
}

.project__descriptions {
  font-family: variables.$font-secondary;
  font-size: 2.2rem;

  @media only screen and (max-width: breakpoints.$bp-large) {
    font-size: 2.1rem;
  }
}
