:root {
  // Colors
  --color-black: #000;
  --color-white: #f1f1e6;
  --color-primary: #2e334a;
  --color-secondary: #8ec9d2;
  --color-font: #b7b8bf;
  --color-bg: #141a2f;

  --content-alpha: 0.8;

  --background: url('../images/curcuit-board.svg'),
    linear-gradient(
      45deg,
      #141a2f,
      #151b31,
      #151c32,
      #161d34,
      #171d36,
      #181e38,
      #181f39,
      #19203b
    );

  // Fonts
  --font-primary: 'Bungee Inline', cursive; // Main heading
  --font-secondary: 'Exo', sans-serif; // Section headings
  --font-navigation: 'Bungee', cursive; // Navigation headings
  --font-default: 'Exo 2', sans-serif; // Default text font

  // Layout
  --padding-left: 12.5rem;
  --padding-right: 12rem;
}

// Colors
$color-black: #000;
$color-white: #f1f1e6;
$color-primary: #2e334a;
$color-secondary: #8ec9d2;
$color-font: #b7b8bf;
$color-bg: #141a2f;

$color-green: rgba(40, 205, 65, 1);
$color-red: rgba(255, 45, 85, 1);

// $project-gradient: linear-gradient($color-font, #b7b8bf);

$content-alpha: 0.8;

$background: url('../images/curcuit-board.svg'),
  linear-gradient(
    45deg,
    #141a2f,
    #151b31,
    #151c32,
    #161d34,
    #171d36,
    #181e38,
    #181f39,
    #19203b
  );
$background-accent: #638b91;

$background-skill: url('../images/curcuit-board.svg'), $color-secondary;
$background-description: url('../images/curcuit-board-two.svg'),
  lighten($color-bg, 7);
$background-project: url('../images/curcuit-board-three.svg'), $color-font;

// Fonts
$font-primary: 'Bungee Inline', cursive; // Main heading
$font-secondary: 'Exo', sans-serif; // Section headings
$font-navigation: 'Bungee', cursive; // Navigation headings

$font-default: 'Exo 2', sans-serif; // Default text font

// Layout
$content-border: 1px solid $background-accent;

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@mixin scrollbar(
  $size,
  $foreground-color,
  $background-color: mix($foreground-color, white, 50%)
) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width: $size;
    height: $size;

    cursor: pointer;
  }

  &::-webkit-scrollbar-thumb {
    transition: background-color 1s, border 1s;
    border: 3px dashed desaturate($foreground-color, 20);
    background-color: desaturate($background-color, 20);
  }

  &::-webkit-scrollbar-thumb:hover {
    border: 3px dashed desaturate($foreground-color, 40);
    background-color: desaturate($background-color, 40);
  }

  &::-webkit-scrollbar-track {
    background: darken($background-color, 15);
    border-left: $content-border;
    border-right: $content-border;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}
