:root {
  --color-black: #000;
  --color-white: #f1f1e6;

  --color-primary: #2e334a;
  --color-secondary: #8ec9d2;

  --color-font: #b7b8bf;

  --color-bg: #141a2f;

  --background: linear-gradient(
    45deg,
    #141a2f,
    #151b31,
    #151c32,
    #161d34,
    #171d36,
    #181e38,
    #181f39,
    #19203b
  );
}
