:root {
  --color-black: #000;
  --color-white: #f1f1e6;
  --color-primary: #2e334a;
  --color-secondary: #8ec9d2;
  --color-font: #b7b8bf;
  --color-bg: #141a2f;
  --content-alpha: 0.8;
  --background: url("../images/curcuit-board.svg"),
    linear-gradient(
      45deg,
      #141a2f,
      #151b31,
      #151c32,
      #161d34,
      #171d36,
      #181e38,
      #181f39,
      #19203b
    );
  --font-primary: "Bungee Inline", cursive;
  --font-secondary: "Exo", sans-serif;
  --font-navigation: "Bungee", cursive;
  --font-default: "Exo 2", sans-serif;
  --padding-left: 12.5rem;
  --padding-right: 12rem;
}

.u-underline {
  text-decoration: underline;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.5%;
  }
}
@media only screen and (max-width: 62.5em) {
  html {
    font-size: 50%;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Exo 2", sans-serif;
  color: var(--color-font);
  font-size: 2.4rem;
  /*   &::-webkit-scrollbar {
    display: none;
  } */
  overflow-y: scroll;
}
body ::selection {
  background-color: rgba(142, 201, 210, 0.9);
  color: #2e334a;
}
@supports selector(div::-webkit-scrollbar) {
  body {
    border-right: none;
  }
  body::-webkit-scrollbar {
    width: 7.5px;
    height: 7.5px;
    cursor: pointer;
  }
  body::-webkit-scrollbar-thumb {
    transition: background-color 1s, border 1s;
    border: 3px dashed #9ebdc2;
    background-color: #3a3b3e;
  }
  body::-webkit-scrollbar-thumb:hover {
    border: 3px dashed #aeb2b2;
    background-color: #3c3c3c;
  }
  body::-webkit-scrollbar-track {
    background: #11121b;
    border-left: 1px solid #638b91;
    border-right: 1px solid #638b91;
  }
  body {
    scrollbar-face-color: #8ec9d2;
    scrollbar-track-color: #2e334a;
  }
}

.header--invisible {
  transition: all 1s;
  opacity: 0;
}
.header--invisible .header__image-container:before {
  width: 90% !important;
  height: 90% !important;
  border-radius: 10% !important;
}
.header--invisible .heading-primary {
  opacity: 0 !important;
  transform: translateY(20%) !important;
}
.header--invisible .heading-subtitle {
  opacity: 0 !important;
  transform: translateY(-40%) !important;
}
.header--invisible .divider {
  width: 0 !important;
}
.header--visible {
  transition: all 1s;
}
.header--visible .header__image-container:before {
  transition: width 1s cubic-bezier(0.06, 0.81, 0.64, 1.23), height 1s cubic-bezier(0.06, 0.81, 0.64, 1.23);
  width: 125%;
  height: 125%;
  border-radius: 50%;
}

.section--invisible {
  transition: all 1s;
  opacity: 0;
  transform: translateY(4rem);
}
.section--invisible .section__subject::before {
  transition: transform 1s, opacity 0.75s;
  transform: translate(-20%, -45%);
  opacity: 0;
}
.section--visible {
  transition: opacity 1s, transform 0.85s;
  opacity: 1;
  transform: translateY(0rem);
}
.section--visible .section__subject::before {
  transition: transform 1.5s, opacity 1.5s;
  transform: translate(0%, -45%);
  opacity: 1;
}

.heading-primary {
  font-family: "Bungee Inline", cursive;
  font-size: 7.2rem;
  color: #8ec9d2;
  text-shadow: rgba(142, 201, 210, 0.99) 0px 0px 4px;
  line-height: 1;
  padding-left: 3rem;
}
@media only screen and (max-width: 103.125em) {
  .heading-primary {
    font-size: 5.5rem;
  }
}
@media only screen and (max-width: 75em) {
  .heading-primary {
    font-size: 5.2rem;
  }
}

.heading-subtitle {
  font-family: "Exo", sans-serif;
  font-size: 3.6rem;
  line-height: 1;
}
@media only screen and (max-width: 103.125em) {
  .heading-subtitle {
    font-size: 2.5rem;
  }
}

.heading-secondary {
  font-size: 4rem;
  font-weight: 900;
  font-family: "Exo", sans-serif;
}
.heading-secondary span:before {
  font-size: 3em;
}
@media only screen and (max-width: 103.125em) {
  .heading-secondary {
    font-size: 3.8rem;
  }
  .heading-secondary span:before {
    font-size: 2.5em;
  }
}
.heading-secondary--invisible {
  opacity: 0;
}

.heading-navigation {
  font-family: "Bungee", cursive;
}
@media only screen and (max-width: 75em) {
  .heading-navigation {
    font-size: 2rem;
  }
}

.text-emphasized {
  color: #2e334a;
  font-family: "Bungee", cursive;
  font-size: 2rem;
}
.text-emphasized--inline {
  font-family: "Bungee Inline", cursive;
  font-size: 2.6rem;
}

.skill__icon {
  fill: #2e334a;
  height: 4rem;
  width: 4rem;
}

.project__skill {
  color: #b7b8bf;
  font-family: "Bungee", cursive;
  font-size: 1.4rem;
  line-height: 1;
}

.project__descriptions {
  font-family: "Exo", sans-serif;
  font-size: 2.2rem;
}
@media only screen and (max-width: 62.5em) {
  .project__descriptions {
    font-size: 2.1rem;
  }
}

.App {
  display: grid;
  grid-template-columns: 0.4fr 2fr minmax(0px, 0.4fr);
  background-image: var(--background);
  overflow: hidden;
  height: 100vh;
}
@media only screen and (max-width: 103.125em) {
  .App {
    grid-template-columns: 0.3fr 2fr 0.285fr;
  }
}
@media only screen and (max-width: 75em) {
  .App {
    grid-template-columns: min-content 1fr;
  }
}
@media only screen and (max-width: 62.5em) {
  .App {
    grid-template-columns: min-content 1fr;
  }
}
@media only screen and (max-width: 50em) {
  .App {
    grid-template-columns: 1fr;
  }
}

/* .background {
  position: absolute;
  background-image: var(--background);
  background-size: 100vw;
  background-repeat: repeat;
  width: 100vw;
  height: 500vh;

  z-index: 0;
} */
.content {
  overflow-y: scroll;
  overflow-x: hidden;
  /*   &::-webkit-scrollbar {
    display: none;
  } */
  background-color: rgba(46, 51, 74, 0.95);
  padding: 9rem 11.5rem 9rem 11rem;
  border-left: 1px solid #638b91;
  border-right: 1px solid #638b91;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  grid-auto-rows: min-content;
  row-gap: 13.5rem;
  /*   box-shadow: rgba(variables.$background-accent, 0.4) 5px 0px,
    rgba(variables.$background-accent, 0.3) 10px 0px,
    rgba(variables.$background-accent, 0.2) 15px 0px; */
}
@media only screen and (max-width: 103.125em) {
  .content {
    padding: 9rem 6.5rem 9rem 7rem;
  }
}
@supports selector(div::-webkit-scrollbar) {
  .content {
    border-right: none;
  }
  .content::-webkit-scrollbar {
    width: 7.5px;
    height: 7.5px;
    cursor: pointer;
  }
  .content::-webkit-scrollbar-thumb {
    transition: background-color 1s, border 1s;
    border: 3px dashed #9ebdc2;
    background-color: #3a3b3e;
  }
  .content::-webkit-scrollbar-thumb:hover {
    border: 3px dashed #aeb2b2;
    background-color: #3c3c3c;
  }
  .content::-webkit-scrollbar-track {
    background: #11121b;
    border-left: 1px solid #638b91;
    border-right: 1px solid #638b91;
  }
  .content {
    scrollbar-face-color: #8ec9d2;
    scrollbar-track-color: #2e334a;
  }
}
@supports (backdrop-filter: blur(2px)) {
  .content {
    background-color: rgba(46, 51, 74, 0.75);
    backdrop-filter: blur(3px);
  }
}
.content > *:last-child {
  padding-bottom: 2rem;
}

.header {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 1fr min-content 1fr;
  row-gap: 2rem;
  margin-bottom: 3rem;
}

.section-container {
  scroll-margin: 9rem;
}

.section {
  display: grid;
  grid-auto-rows: min-content;
  row-gap: 2rem;
}

.footer {
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  margin-top: -4rem;
  background-color: rgba(20, 26, 47, 0.15);
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
}
.footer > *:not(:first-child) {
  margin-top: 0.25rem;
}

.navigation {
  display: flex;
  flex-direction: column;
  margin-top: 20vh;
  margin-bottom: auto;
}
@media only screen and (max-width: 50em) {
  .navigation {
    flex-direction: row;
    margin-top: 0;
    margin-bottom: 0;
    border-top: 1px solid #638b91;
    border-bottom: 1px solid #638b91;
    background-color: rgba(20, 26, 47, 0.85);
    align-items: center;
  }
}
.navigation__link {
  text-decoration: none;
  color: #141a2f;
  padding: 0.5rem 2rem;
  transition: background-color 0.25s;
  background-color: rgba(142, 201, 210, 0.95);
}
@media only screen and (max-width: 50em) {
  .navigation__link {
    background-color: transparent;
    color: #8ec9d2;
  }
}
.navigation__link span {
  transition: transform 0.25s;
  transform: translateX(0rem);
  display: inline-block;
}
.navigation__link:hover span {
  transition: transform 0.25s;
  transform: translateX(1rem);
  display: inline-block;
}
@media only screen and (max-width: 50em) {
  .navigation__link:hover {
    background-color: transparent;
    color: #d7ecef;
  }
}
.navigation__link--true {
  background-color: rgba(241, 241, 230, 0.95);
}
@media only screen and (max-width: 50em) {
  .navigation__link--true {
    background-color: transparent;
    color: #f1f1e6;
    text-decoration: underline;
  }
}
.navigation__socials {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}
@media only screen and (max-width: 50em) {
  .navigation__socials {
    margin-left: auto;
    margin-right: 2rem;
  }
}
.navigation__socials > *:not(:last-child) {
  margin-right: 3rem;
}
@media only screen and (max-width: 50em) {
  .navigation__social-link {
    display: relative;
  }
}
.navigation__social-link .skill__icon {
  display: block;
  height: 5rem;
  width: 5rem;
  fill: #141a2f;
  padding: 0.85rem;
  border-radius: 50%;
  overflow: visible;
  transition: background-color 0.25s;
  background-color: rgba(142, 201, 210, 0.95);
}
@media only screen and (max-width: 50em) {
  .navigation__social-link .skill__icon {
    fill: #8ec9d2;
    border-radius: 0;
    transition: background-color 0.25s;
    background-color: transparent;
  }
  .navigation__social-link .skill__icon:hover {
    fill: #d7ecef;
  }
}
.navigation__social-link .skill__icon:hover {
  background-color: rgba(178, 218, 225, 0.95);
}

.header {
  scroll-margin: 9rem;
}
.header__image-container {
  align-self: center;
  grid-row: 1/-1;
  display: flex;
  align-items: center;
  position: relative;
}
.header__image-container:before {
  content: "";
  width: 125%;
  height: 125%;
  background-color: rgba(142, 201, 210, 0.05);
  border: 2px dotted rgba(142, 201, 210, 0.05);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.header__image {
  border: 2px solid #8ec9d2;
  border-radius: 50%;
  height: 25rem;
  width: 25rem;
  z-index: 1;
}
@media only screen and (max-width: 103.125em) {
  .header__image {
    height: 22.5rem;
    width: 22.5rem;
  }
}
@media only screen and (max-width: 75em) {
  .header__image {
    height: 20rem;
    width: 20rem;
  }
}
.header .heading-primary {
  align-self: end;
  margin-bottom: 0.25rem;
}
@supports (-webkit-text-stroke: 2px black) {
  .header .heading-primary {
    -webkit-text-stroke: 2px #2e334a;
  }
}
.header .heading-subtitle {
  align-self: start;
}
.header .heading-primary,
.header .heading-subtitle {
  text-align: center;
  transition: opacity 0.5s 0.75s, transform 0.7s cubic-bezier(0, 1.95, 0.57, 1.61) 0.7s;
  opacity: 1;
  transform: translateY(0);
}
.header .divider {
  height: 2px;
  background-color: #8ec9d2;
  position: relative;
  z-index: 0;
  transition: width 1s;
  width: 100%;
}
.header .divider:after {
  content: "";
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #2e334a;
  border: 2px solid #8ec9d2;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}

.section {
  position: relative;
}
.section--link {
  color: #f1f1e6;
  font-weight: 600;
  cursor: pointer;
}
.section--emphasis {
  color: #8ec9d2;
  font-weight: 600;
}
.section__subject {
  color: #f1f1e6;
  font-size: 1.45em;
}
.section__subject:before {
  content: attr(data-subject);
  color: rgba(142, 201, 210, 0.05);
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0%, -45%);
}
.section__subject:after {
  content: "";
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #8ec9d2;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0%);
}
.section__skills {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5rem 0 -1rem 0;
}
.section__skills ::selection {
  background-color: rgba(46, 51, 74, 0.9);
  color: #b7b8bf;
}
.section__skill {
  display: grid;
  grid-template-columns: min-content max-content;
  align-items: center;
  column-gap: 0.8rem;
  background-color: #8ec9d2;
  background: url("../images/curcuit-board.svg"), #8ec9d2;
  background-size: 550px;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border: 2px dotted rgba(46, 51, 74, 0.75);
  border-top-right-radius: 6px;
  border-bottom-left-radius: 14px;
  border-top-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.section__portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(35.5rem, 1fr));
  gap: 4rem;
  border-radius: 10px;
  margin-top: 2rem;
}

.project {
  color: #1a1d2b;
  background-color: #b7b8bf;
  background: url("../images/curcuit-board-three.svg"), #b7b8bf;
  background-size: 800px;
  padding: 0.4rem;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 32px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: border 0.3s, box-shadow 0.4s;
  border: 2px dotted rgba(26, 29, 43, 0.3);
  box-shadow: rgba(142, 201, 210, 0.99) 0px 0px 1px;
  display: grid;
  gap: 1rem;
  grid-auto-rows: min-content;
  grid-auto-rows: min-content min-content min-content min-content 1fr;
  /*   &__link {
    position: relative;
  } */
  /*   &__links {
    display: flex;
    align-items: center;
    background-color: orangered;
    color: variables.$color-primary;
  }

  &__link {
    display: inline-block;
  } */
}
.project:hover {
  border: 2px dotted rgba(106, 184, 195, 0.75);
  box-shadow: #8ec9d2 0px 0px 16px;
}
@supports (filter: grayscale(0)) {
  .project:hover .project__heading:before,
.project:hover .project__heading:after {
    filter: grayscale(0);
  }
}
.project:hover .project__heading:after {
  opacity: 0.9;
}
.project:hover .project__heading:before {
  opacity: 0.8;
}
.project__heading {
  background-color: rgba(183, 184, 191, 0.2);
  padding: 0.5rem 2rem 0rem;
  position: relative;
}
.project__heading:before, .project__heading:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 14px;
  width: 14px;
  border: 1px solid #aaabb3;
  border-radius: 50%;
  transition: opacity 0.5s, filter 0.5s;
}
@supports (filter: grayscale(0)) {
  .project__heading:before, .project__heading:after {
    filter: grayscale(1);
  }
}
.project__heading:after {
  background-color: #4da85b;
  transform: translate(-315%, 90%);
}
.project__heading:before {
  background-color: #e04d69;
  transform: translate(-150%, 90%);
}
.project__img-link {
  width: 96%;
  margin: 0 auto;
}
.project__img {
  width: 100%;
  border-radius: 10px;
  border: 2px solid #aaabb3;
  vertical-align: top;
}
.project__skills {
  padding: 0rem 0rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project__skill {
  background-color: #2e334a;
  color: #e0e0e3;
  padding: 0.8rem 1rem 0.7rem;
  margin: 0.15rem;
  border: 2px dotted rgba(183, 184, 191, 0.75);
  border-top-right-radius: 6px;
  border-bottom-left-radius: 14px;
  border-top-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.project__skill:last-child {
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 2px;
}
.project__descriptions {
  margin: 0 0.75rem;
  display: grid;
  grid-template-rows: min-content;
  gap: 0.8rem;
  background: url("../images/curcuit-board-two.svg"), #1f2848;
  background-size: 50rem;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  color: #e0e0e3;
  font-weight: 300;
  border: 3px solid #aaabb3;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(142, 201, 210, 0.99);
}
.project__links {
  padding: 0rem 1.1rem 1rem 0rem;
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  justify-content: flex-end;
}
.project__link {
  padding: 0.9rem 1.2rem 0.9rem 1.2rem;
  line-height: 1;
  text-decoration: none;
  transition: all 0.25s;
  opacity: 0.9;
  color: #141a2f;
  margin-right: 1rem;
  border: 2px dotted #b7b8bf;
  box-shadow: inset 0 0 5px #747683;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.project__link span {
  display: inline-block;
  font-weight: 900;
  transition: transform 0.4s;
  transform: translateX(-1px);
}
.project__link:hover span {
  transition: transform 0.4s;
  transform: translateX(4px);
}
.project__link:last-child {
  background-color: rgba(87, 175, 188, 0.2);
  border-bottom-right-radius: 10px;
  border-top-left-radius: 5px;
}
.project__link:last-child:hover {
  background-color: rgba(87, 175, 188, 0.4);
}
.project__link:first-child {
  background-color: rgba(143, 144, 155, 0.3);
  border-bottom-right-radius: 5px;
  border-top-left-radius: 10px;
}
.project__link:first-child:hover {
  background-color: rgba(143, 144, 155, 0.6);
}

.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  transition: all 0.3s;
}
.contact > * {
  outline: none;
}
.contact > *:not(.contact__submit) {
  font-size: 2rem;
  font-family: "Exo", sans-serif;
  color: #f1f1e6;
  font-weight: 500;
  transition: all 0.3s;
  padding: 1rem 1rem;
  background-color: transparent;
  border: 2px solid #2e334a;
  border-radius: 10px;
  background-color: rgba(20, 26, 47, 0.35);
}
.contact > *:not(.contact__submit)::placeholder {
  color: #6f7576;
}
.contact > *:not(.contact__submit):hover {
  border: 2px solid #1a1d2b;
  border-color: #bebeb3;
  background-color: rgba(66, 73, 105, 0.15);
}
.contact > *:not(.contact__submit):focus {
  transition: border-color 0.3s, box-shadow 0.4s background-color 0.3s;
  background-color: rgba(20, 26, 47, 0.5);
  border-color: #8ab6bd;
}
.contact__message {
  grid-column: 1/-1;
  resize: none;
}
.contact__submit {
  outline: none;
  border: 2px solid currentColor;
  grid-column: 1/-1;
  justify-self: center;
  max-width: 100%;
  padding: 1.5rem 2.5rem;
  line-height: 1;
  border-radius: 5px;
  transition: color 0.15s, background-color 0.25s, border-color 0.25s;
}
.contact__submit:hover {
  color: #f1f1e6;
  background-color: transparent;
  border-color: #f1f1e6;
}
.contact__submit:active {
  background-color: rgba(142, 201, 210, 0.5);
}

/*
& > * {
  padding-left: 2rem;
  padding-right: 2rem;
}
& > *:first-child {
  padding-top: 0.5rem;
}
& > *:last-child {
  padding-bottom: 0.5rem;
}
*/
/* 

  "devDependencies": {
    "autoprefixer": "^10.0.1",
    "gh-pages": "^3.1.0",
    "node-sass": "^4.14.1",
    "npm-run-all": "^4.1.5",
    "postcss": "^8.2.6",
    "postcss-cli": "^8.3.1"
  },

    "dev": "npm-run-all -p -r start watch:sass",
    "watch:sass": "node-sass src/sass/main.scss src/css/style.css -w",
    "compile:sass": "node-sass src/sass/main.scss src/css/style.comp.css",
    "prefix:css": "postcss ./src/css/style.comp.css --use autoprefixer -o ./src/css/style.prefix.css",
    "compress:css": "node-sass ./src/css/style.prefix.css ./src/css/style.css --output-style compressed",
    "build:css": "npm-run-all compile:sass prefix:css compress:css",

*/

/*# sourceMappingURL=style.css.map */
