:root {
  --color-black: #000;
  --color-white: #f1f1e6;
  --color-primary: #2e334a;
  --color-secondary: #8ec9d2;
  --color-font: #b7b8bf;
  --color-bg: #141a2f;
  --content-alpha: 0.8;
  --background: url("../images/curcuit-board.svg"),
    linear-gradient(
      45deg,
      #141a2f,
      #151b31,
      #151c32,
      #161d34,
      #171d36,
      #181e38,
      #181f39,
      #19203b
    );
  --font-primary: "Bungee Inline", cursive;
  --font-secondary: "Exo", sans-serif;
  --font-navigation: "Bungee", cursive;
  --font-default: "Exo 2", sans-serif;
  --padding-left: 12.5rem;
  --padding-right: 12rem;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Exo 2", sans-serif;
  color: var(--color-font);
  font-size: 2.4rem;
}
body::-webkit-scrollbar {
  display: none;
}

.heading-primary {
  font-family: var(--font-primary);
  font-size: 7.2rem;
  color: var(--color-secondary);
  line-height: 1;
}

.heading-subtitle {
  font-family: var(--font-white);
  font-size: 3.6rem;
  line-height: 1;
}

.heading-secondary {
  font-size: 3.6rem;
  font-weight: 900;
  font-family: var(--font-secondary);
}

.heading-navigation {
  font-family: var(--font-navigation);
}

.skill__icon {
  fill: var(--color-primary);
  height: 4rem;
  width: 4rem;
}

.project__skill {
  color: var(--color-font);
  font-family: var(--font-secondary);
  font-size: 1.5rem;
  line-height: 1;
}

.App {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  background-image: var(--background);
  background-size: 100vw;
  overflow: hidden;
  height: 100vh;
}

/* .background {
  position: absolute;
  background-image: var(--background);
  background-size: 100vw;
  background-repeat: repeat;
  width: 100vw;
  height: 500vh;

  z-index: 0;
} */
.content {
  overflow-y: scroll;
  background-color: rgba(46, 51, 74, 0.96);
  padding: 9rem 12.5rem 9rem 12rem;
  border-left: 1px solid #638b91;
  border-right: 1px solid #638b91;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  grid-auto-rows: min-content;
  row-gap: 12.5rem;
  /*   box-shadow: rgba(variables.$background-accent, 0.4) 5px 0px,
    rgba(variables.$background-accent, 0.3) 10px 0px,
    rgba(variables.$background-accent, 0.2) 15px 0px; */
}
.content::-webkit-scrollbar {
  display: none;
}
@supports (backdrop-filter: blur(2px)) {
  .content {
    background-color: rgba(46, 51, 74, 0.8);
    backdrop-filter: blur(3px);
  }
}
.content > *:last-child {
  padding-bottom: 9rem;
}

.header {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 1fr min-content 1fr;
  row-gap: 2rem;
}

.section {
  display: grid;
  grid-auto-rows: min-content;
  row-gap: 2rem;
}

.header__image-container {
  align-self: center;
  grid-row: 1/-1;
  display: flex;
  align-items: center;
  position: relative;
}
.header__image-container:before {
  content: "";
  width: 125%;
  height: 125%;
  background-color: rgba(142, 201, 210, 0.05);
  border: 2px dotted #8ec9d2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.header__image {
  border: 2px solid #8ec9d2;
  border-radius: 50%;
  height: 25rem;
  width: 25rem;
  z-index: 1;
}
.header .heading-primary {
  align-self: end;
  margin-bottom: 0.25rem;
}
@supports (-webkit-text-stroke: 2px black) {
  .header .heading-primary {
    -webkit-text-stroke: 2px #2e334a;
  }
}
.header .heading-primary--init {
  opacity: 0 !important;
  transform: translateY(20%) !important;
}
.header .heading-subtitle {
  align-self: start;
}
.header .heading-subtitle--init {
  opacity: 0 !important;
  transform: translateY(-40%) !important;
}
.header .heading-primary,
.header .heading-subtitle {
  text-align: center;
  transition: opacity 0.5s 0.75s, transform 0.7s cubic-bezier(0, 1.95, 0.57, 1.61) 0.7s;
  opacity: 1;
  transform: translateY(0);
}
.header .divider {
  height: 2px;
  background-color: #8ec9d2;
  position: relative;
  z-index: 0;
  transition: width 1s;
  width: 100%;
}
.header .divider--init {
  width: 0;
}
.header .divider:after {
  content: "";
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #2e334a;
  border: 2px solid #8ec9d2;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}

.section {
  position: relative;
}
.section--link {
  color: #f1f1e6;
  font-weight: 600;
}
.section__subject {
  color: #f1f1e6;
  font-size: 4.8rem;
}
.section__subject:before {
  content: attr(data-subject);
  color: rgba(142, 201, 210, 0.05);
  font-size: 3em;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0%, -45%);
}
.section__subject:after {
  content: "";
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #8ec9d2;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0%);
}
.section__skills {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5rem 0 -1rem 0;
}
.section__skill {
  display: grid;
  grid-template-columns: min-content max-content;
  align-items: center;
  column-gap: 1rem;
  background: url("../images/curcuit-board.svg"), #8ec9d2;
  background-size: 550px;
  color: #2e334a;
  font-family: "Bungee", cursive;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border: 2px dotted #2e334a;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 14px;
  border-top-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.section__portfolio {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  border-radius: 10px;
}

.project {
  color: #1a1d2b;
  background-color: #b7b8bf;
  padding-bottom: 0.8rem;
  overflow: hidden;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 32px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 6px solid #b7b8bf;
  display: grid;
  gap: 1rem;
  grid-auto-rows: min-content;
}
.project:hover .project__heading:before,
.project:hover .project__heading:after {
  opacity: 1;
}
.project__heading {
  background-color: #b7b8bf;
  padding: 0.5rem 2rem 0rem;
  position: relative;
}
.project__heading:before, .project__heading:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  opacity: 0.1;
  transition: opacity 0.5s;
}
.project__heading:before {
  content: "";
  background-color: rgba(40, 205, 65, 0.75);
  transform: translate(-100%, 100%);
}
.project__heading:after {
  background-color: rgba(255, 45, 85, 0.75);
  transform: translate(-265%, 100%);
}
.project__img {
  width: 100%;
  border-radius: 5px;
  border: 1.5px solid #aaabb3;
}
.project__skills {
  padding: 0rem 0rem;
  display: flex;
  justify-content: center;
}
.project__skill {
  background-color: #2e334a;
  padding: 0.8rem 1rem 0.7rem;
  margin: 0.15rem;
  border: 2px dotted #b7b8bf;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 14px;
  border-top-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.project__skill:last-child {
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 2px;
}
.project__descriptions {
  margin: 0 0.75rem;
  display: grid;
  gap: 0.8rem;
  background-color: #1c2441;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  color: #d7ecef;
  font-weight: 300;
  border: 5px solid #aaabb3;
  border-radius: 20px;
}

/*
& > * {
  padding-left: 2rem;
  padding-right: 2rem;
}
& > *:first-child {
  padding-top: 0.5rem;
}
& > *:last-child {
  padding-bottom: 0.5rem;
}
*/
/* 

  "devDependencies": {
    "autoprefixer": "^10.0.1",
    "gh-pages": "^3.1.0",
    "node-sass": "^4.14.1",
    "npm-run-all": "^4.1.5",
    "postcss": "^8.2.6",
    "postcss-cli": "^8.3.1"
  },

    "dev": "npm-run-all -p -r start watch:sass",
    "watch:sass": "node-sass src/sass/main.scss src/css/style.css -w",
    "compile:sass": "node-sass src/sass/main.scss src/css/style.comp.css",
    "prefix:css": "postcss ./src/css/style.comp.css --use autoprefixer -o ./src/css/style.prefix.css",
    "compress:css": "node-sass ./src/css/style.prefix.css ./src/css/style.css --output-style compressed",
    "build:css": "npm-run-all compile:sass prefix:css compress:css",

*/

/*# sourceMappingURL=style.css.map */
